.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
}

.formOptionContainer {
	margin-top: 50px;
}

.formButtonsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	padding-top: 50px;
}
